/* CSS Document */

.treeview {

	display:inline-block;
	padding:8px;
	border:1px solid #e3e3eb;
	overflow:auto;
	overflow-Y:scroll;
	background-color:white;
	min-height:600px;
	margin-top:10px;
	width:100%;	
}

#itemwindow {
	width:100%;
	display:inline-block;
	
}


.tritem {
	float:right;
	clear:both;
	margin-top:4px;
	margin-bottom:4px;
}

.tropen, .trclosed {
	width:31px;
	height:18px;
	float:left;
	background-position:center;
	background-repeat:no-repeat;
}

.tropen {
	background-image:url("/i/e/fldopen.png");
}

.trclosed {
	background-image:url("/i/e/fldclosed.png");	
}

.trlink {
	float:left;
	font-size:14px;
	font-family:Tahoma, Geneva, sans-serif;
	line-height:18px;
	margin:-2px;
	margin-left:4px;	
	padding:2px;
}

.trunsel {
	color:#2470a0;	
}

.tractions {
	float:right;
	line-height:10px;
	margin-top:-2px;
}

.tractions a {
	margin-left:5px;
}

.trsubtree {
	margin-top:4px;
	float:right;
}

.trselected {
	background-color:#2470a0;
	color:white;
}

.trselected:hover {
	color:white;
}

.tree-right-btn {
	margin-bottom:10px;
}

.ieitem {
	float:left;
	width:100%;
	font-family:Tahoma, Geneva, sans-serif;
}

.ieitemnp {
	background-color:#FFF0F0;
}

.ieitemlistpic {
	width:62px;
	height:62px;
	padding:1px;
	background-color:#ececec;
	float:left;
	margin:0 8px 8px 0;
}

.ieright {
	float:right;
	margin:0 0 6px 6px;
	text-align:center;
}

.ieitembrd {
	float:left;
	height:1px;
	width:100%;
	margin-bottom:6px;
	border-bottom:1px solid #ececec;
}

.ieitemlink {
	font-size:14px;
}

.ieitem span {
	font-size:11px;
	color:#8e8e8e;
}

.ieitempic {
	float:left;
	width:260px;
	padding:5px;
}

.ieitempica {
	float:left;
	width:100px;
	margin:0 5px 5px 0;
}

.ieitempicblock {
	padding-bottom:15px;
}

.ieitemgreen {
	background-color:#F0FFF0;
}

.ieitemred {
	background-color:#FFF0F0;
}