{{if $lang eq "en"}}
{{assign var="str_edit" value="Edit"}}
{{assign var="str_props" value="Properties"}}
{{assign var="str_photos" value="Photos"}}
{{assign var="str_del" value="Delete"}}
{{else}}
{{assign var="str_edit" value="Правка"}}
{{assign var="str_props" value="Свойства"}}
{{assign var="str_photos" value="Фотографии"}}
{{assign var="str_del" value="Удалить"}}
{{/if}}

{{if $smarty.const.EMPS_BOOTSTRAP == 4}}

    <div class="btn-group btn-group-sm">
        <a href="{{$lst[i].nlink}}" class="btn btn-primary"><span class="fa fa-pencil"></span>&nbsp; {{$str_edit}}</a>

        <button type="button" class="btn btn-primary dropdown-toggle " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

        </button>
        <div class="dropdown-menu dropdown-menu-right">
            {{if $row_html}}
            <a class="dropdown-item" href="{{$lst[i].ilink}}"><span class="fa fa-header"></span>&nbsp; HTML</a>
            {{/if}}
            <a class="dropdown-item" href="{{$lst[i].plink}}"><span class="fa fa-list"></span>&nbsp; {{$str_props}}</a>
            <a class="dropdown-item" href="{{$lst[i].hlink}}"><span class="fa fa-camera"></span>&nbsp; {{$str_photos}}</a>
            {{$extra_actions}}
            {{if !$no_delete}}
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:delete_modal('{{$lst[i].klink}}')">&times; &nbsp; {{$str_del}}</a>
            {{/if}}
        </div>

    </div>


{{else}}


    <div class="btn-group">
        <a href="{{$lst[i].nlink}}" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-pencil"></span>&nbsp; {{$str_edit}}</a>
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            {{if $row_html}}
            <li ><a href="{{$lst[i].ilink}}"><span class="glyphicon glyphicon-header"></span>&nbsp; HTML</a>
                {{/if}}
            <li ><a href="{{$lst[i].plink}}"><span class="glyphicon glyphicon-list"></span>&nbsp; {{$str_props}}</a>
            <li ><a href="{{$lst[i].hlink}}"><span class="glyphicon glyphicon-camera"></span>&nbsp; {{$str_photos}}</a>
                {{$extra_actions}}
            <li class="divider"></li>
            {{if !$no_delete}}
                <li ><a href="javascript:delete_modal('{{$lst[i].klink}}')">&times; &nbsp; {{$str_del}}</a></li>
            {{/if}}
        </ul>
    </div>

{{/if}}
