{{if !$page.noscripts}}
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/tools.js"></script>
<script>
{{if $login.status}}
var logged_on = true;
{{else}}
var logged_on = false;
{{/if}}
</script>
{{/if}}


{{if $page.blueimp_uploader}}
{{include file="db:photos/blueimp/headscripts"}}
{{/if}}

{{if $page.ipbox}}
<script>
emps_scripts.push(function(){
	$(".ipbox").EMPS_IPBox({one_row: true, with_text: true});
});
</script>
{{/if}}

{{include file="db:site/footscripts"}}
