<nav class="navbar navbar-fixed-top navbar-default navbar-static-top" role="navigation">
<div class="container">
	<div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mm-navbar-collapse">
          <span class="sr-only">Переключить навигацию</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>    
    </div>

    <div class="collapse navbar-collapse" id="mm-navbar-collapse">
        <ul class="nav navbar-nav">
        	<li>
            <a href="/"><i class="glyphicon glyphicon-home"></i></a>
            </li>
    {{assign var="menu" value=$menus.admin}}    
    {{section name=i loop=$menu}}
          <li class="{{if $menu[i].sel}}active{{/if}} {{if $menu[i].sub}}dropdown{{/if}}">
          <a href="{{$menu[i].link}}" class="{{if $menu[i].sub}}dropdown-toggle{{/if}}" {{if $menu[i].sub}}data-toggle="dropdown"{{/if}} id="{{$menu[i].id}}">{{$menu[i].dname}}</a>
    
    {{if $menu[i].sub}}      
            <ul class="dropdown-menu">
    {{assign var="smenu" value=$menu[i].sub}}        
    {{section name=s loop=$smenu}}
                <li><a href="{{$smenu[s].link}}">{{$smenu[s].dname}}</a></li>
    {{/section}}
            </ul>
    {{/if}}        
          </li>
    {{/section}}
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <li><a data-toggle="modal" href="#mainSearch"><div class="mmsearch" o="glyphicon glyphicon-search"></div></a></li>
    {{if !$login.status}}            
            <li class="pull-right"><a data-toggle="modal" href="#mainLogin"><i class="glyphicon glyphicon-log-in"></i>&nbsp; Войти</a></li>
    {{else}}
          <li class="dropdown pull-right">
            <a href="/admin/" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> {{$login.user.fullname}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="./?logout=1">Выйти</a></li>          
            </ul>
          </li>        
    {{/if}}        

        </ul>

	</div>
</div>
  
</nav>

