{{if $lang eq "en"}}
{{assign var="str_pic_descr" value="Enter the description for #"}}
{{assign var="str_cancel" value="Cancel"}}
{{assign var="str_save_descr" value="Save description"}}
{{assign var="str_download" value="Download from another website"}}
{{assign var="str_many" value="Several URLs can be entered in separate lines"}}
{{assign var="str_upload" value="Upload"}}
{{assign var="str_replace" value="Replace image file for #"}}
{{assign var="str_replace_descr" value="Replacing the image file lets you change the picture without changing its current ID."}}
{{assign var="str_upload_new" value="Upload new file"}}
{{assign var="str_select_f" value="Select files..."}}
{{assign var="str_bylink" value="By Link"}}
{{assign var="str_start_upload" value="Start Uploading"}}
{{assign var="str_delete" value="Delete"}}
{{assign var="str_error" value="Error"}}
{{assign var="str_start" value="Start"}}
{{assign var="str_no_descr" value="(no description)"}}
{{assign var="str_qual" value="Quality"}}
{{assign var="str_cut_top" value="Cut 16x9 from top"}}
{{assign var="str_cut_center" value="Cut 16x9 from center"}}
{{assign var="str_cut_3" value="Cut 16x9 from 3/4"}}
{{assign var="str_cut_bottom" value="Cut 16x9 from bottom"}}
{{assign var="str_qual" value="Qual."}}
{{assign var="str_del_pic" value="Delete photo?"}}
{{assign var="str_del_pics" value="Delete selected photos?"}}
{{assign var="str_b_descr" value="Description"}}
{{assign var="str_b_replace" value="Replace file"}}
{{assign var="str_b_links" value="Links"}}
{{assign var="str_b_wm" value="Watermark"}}
{{else}}
{{assign var="str_pic_descr" value="Введите описание фотографии №"}}
{{assign var="str_cancel" value="Отмена"}}
{{assign var="str_save_descr" value="Сохранить описание"}}
{{assign var="str_download" value="Загрузить с другого сайта"}}
{{assign var="str_many" value="Можно несколько URL в отдельных строках"}}
{{assign var="str_upload" value="Загрузить"}}
{{assign var="str_replace" value="Сменить файл для фотографии №"}}
{{assign var="str_replace_descr" value="Смена файла позволяет изменить фотографию, не меняя её ID и MD5 &mdash; существующие ссылки на фотографию останутся прежними."}}
{{assign var="str_upload_new" value="Загрузить новый файл"}}
{{assign var="str_select_f" value="Выбрать файлы..."}}
{{assign var="str_bylink" value="По ссылке"}}
{{assign var="str_start_upload" value="Начать отправку"}}
{{assign var="str_delete" value="Удалить"}}
{{assign var="str_error" value="Ошибка"}}
{{assign var="str_start" value="Начать"}}
{{assign var="str_no_descr" value="(нет описания)"}}
{{assign var="str_qual" value="Качество"}}
{{assign var="str_cut_top" value="Отрезать 16 на 9 сверху"}}
{{assign var="str_cut_center" value="Вырезать 16 на 9 из центра"}}
{{assign var="str_cut_3" value="Вырезать 16 на 9 из 3/4"}}
{{assign var="str_cut_bottom" value="Отрезать 16 на 9 снизу"}}
{{assign var="str_qual" value="Кач."}}
{{assign var="str_del_pic" value="Удалить фотографию?"}}
{{assign var="str_del_pics" value="Удалить выбранные фотографии?"}}
{{assign var="str_b_descr" value="Описание"}}
{{assign var="str_b_replace" value="Сменить файл"}}
{{assign var="str_b_links" value="Ссылки на файл"}}
{{assign var="str_b_wm" value="Watermark"}}
{{/if}}

<div class="move-modal modal fade" id="links_file">
</div>

<div class="move-modal modal fade" id="enter_descr">
<form action="." method="post" class="form" role="form">
<input type="hidden" name="post_descr" value="1"/>
<input type="hidden" name="id" id="id_descr" value="0"/>

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{$str_pic_descr}}<span id="descr_id"></span></h4>
      </div>
      <div class="modal-body">
        <p><textarea name="descr" id="descr_input" rows="5" class="form-control"></textarea></p>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{$str_cancel}}</button>
        <button type="submit" class="btn btn-primary">{{$str_save_descr}}</button>
      </div>
    </div>
  </div>
</form>        
</div>

<div class="move-modal modal fade" id="rotate_img">
<formclass="form" role="form">

  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Rotate Image</h4>
      </div>
      <div class="modal-body">

<div class="input-group">
  <input type="number" class="form-control" name="angle" placeholder="" id="id_angle">
  <span class="input-group-addon" >degrees (negative - CCW)</span>
</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{$str_cancel}}</button>
        <button type="button" id="id_rotate_button" class="btn btn-primary">Rotate</button>
      </div>
    </div>
  </div>
</form>        
</div>

<div class="move-modal modal fade" id="download_by_link">
<form action="." method="post" class="form" role="form">
<input type="hidden" name="post_by_url" value="1"/>

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{$str_download}}<span id="descr_id"></span></h4>
      </div>
      <div class="modal-body">
        <p><textarea name="links" id="descr_input" rows="5" class="form-control" placeholder="{{$str_many}}"></textarea></p>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{$str_cancel}}</button>
        <button type="submit" class="btn btn-primary">{{$str_upload}}</button>
      </div>
    </div>
  </div>
</form>        
</div>

<div class="modal fade" id="reupload_file">
<form action="." method="post" class="form" role="form" enctype="multipart/form-data">
<input type="hidden" name="post_reupload" value="1"/>
<input type="hidden" name="id" id="id_file" value="0"/>

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{$str_replace}}<span id="upload_id"></span></h4>
      </div>
      <div class="modal-body">
      	<p>{{$str_replace_descr}}</p>
        <p><input type="file" name="file"/></p>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{$str_cancel}}</button>
        <button type="submit" class="btn btn-primary">{{$str_upload_new}}</button>
      </div>
    </div>
  </div>
</form>        
</div>

{{if $CanSave}}
<form id="fileupload" action=".?upload=1" method="POST" enctype="multipart/form-data">
<input type="hidden" name="upload" value="1"/>
     <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar col-md-12">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>{{$str_select_f}}</span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="button" class="btn btn-primary link" onclick="image_by_url()">
                    <i class="glyphicon glyphicon-cloud-download"></i>
                    <span>{{$str_bylink}}</span>
                </button>                
{{if !$biu_simple}}
                <button type="submit" class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>{{$str_start_upload}}</span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>{{$str_cancel}}</span>
                </button>
{{/if}}

                <!-- The loading indicator is shown during file processing -->
                <span class="fileupload-loading"></span>
            </div>
            <!-- The global progress information -->
            <div class="col-lg-3 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
            <div class="col-lg-2">
                <button type="button" class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>{{$str_delete}}</span>
                </button>
                <input type="checkbox" class="toggle" name="delete" value="1">            
            </div>
        </div>
        <!-- The table listing the files available for upload/download -->
		<div class="files uploader-list col-md-12"></div>
</form>
{{/if}}

<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}

    <div class="row template-upload fade sortable">
        <div class="col-md-2" align="center">
            <span class="preview"></span>
        </div>
        <div class="col-md-6">
            <p class="name">{%=file.name%}</p>
            {% if (file.error) { %}
                <div><span class="label label-danger">{{$str_error}}</span> {%=file.error%}</div>
            {% } %}
            {% if (!o.files.error && !i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>{{$str_start}}</span>
                </button>
            {% } %}			
        </div>
        <div class="col-md-2">
            <p class="size">{%=o.formatFileSize(file.size)%}</p>
            {% if (!o.files.error) { %}
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            {% } %}
        </div>
        <div class="col-md-2">

            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>{{$str_cancel}}</span>
                </button>
            {% } %}
        </div>
    </div>

{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <div class="row sortable template-download fade" data-id="{%=file.fileId%}">
        <div class="col-md-2" align="center">
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" rel="uploaded" title="{%=file.name%}" target="_blank"><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </div>
        <div class="col-md-6">
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" target="_blank">{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
				<span class="label label-default">{%=file.fileId%}</span>
            </p>
			<p>
			{% if (file.descr) { %}
			<span id="file_descr_{%=file.fileId%}" >{%=file.descr%}</span>
			{% } else { %}
			<span>{{$str_no_descr}}</span>			
			{% } %}</p>
			
			<p>

{{if $CanSave}}
			<a href="javascript:enter_descr('{%=file.fileId%}')" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-pencil"></i> {{$str_b_descr}}</a>
{{if !$pu_set.simple_mode}}
			<a href="javascript:reupload_file('{%=file.fileId%}')" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-transfer"></i> {{$str_b_replace}}</a>
{{/if}}
{{/if}}
{{if !$pu_set.simple_mode}}
			<a href="javascript:links_file('{%=file.fileId%}')" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-share"></i> {{$str_b_links}}</a>
			<a href="javascript:watermark_file('{%=file.fileId%}')" id="wm_{%=file.fileId%}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-tint"></i>
			{{$str_b_wm}}</a>	
			<a href="javascript:rotate_file('{%=file.fileId%}')" id="rotate_{%=file.fileId%}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-repeat"></i></a>	
{{/if}}
			



			</p>
            {% if (file.error) { %}
                <div><span class="label label-danger">{{$str_error}}</span> {%=file.error%}</div>
            {% } %}
        </div>
        <div class="col-md-2">
            <span class="size">{%=o.formatFileSize(file.size)%}</span>

{{if $CanSave}}
{{if !$pu_set.simple_mode}}
<p style="margin-bottom:20px">{{$str_qual}}: {%=file.qual%}%</p>
	<div  class="btn-group pull-right">
  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
    <i class="glyphicon glyphicon-facetime-video"></i> 16x9 <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
		<li><a href="javascript:resize_file('{%=file.fileId%}', 'top')" >{{$str_cut_top}}</a></li>
		<li><a href="javascript:resize_file('{%=file.fileId%}', 'center')" >{{$str_cut_center}}</a></li>		
		<li><a href="javascript:resize_file('{%=file.fileId%}', 'optimal')" >{{$str_cut_3}}</a></li>				
		<li><a href="javascript:resize_file('{%=file.fileId%}', 'bottom')" >{{$str_cut_bottom}}</a></li>		
	</ul>
	</div>
	<div  class="btn-group pull-right">
  <button class="btn btn-default btn-xs dropdown-toggle" type="button" data-toggle="dropdown">
    <i class="glyphicon glyphicon-camera"></i> {{$str_qual}} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
		<li><a href="javascript:qual_file('{%=file.fileId%}', 100)" >100%</a></li>
		<li><a href="javascript:qual_file('{%=file.fileId%}', 90)" >90%</a></li>
		<li><a href="javascript:qual_file('{%=file.fileId%}', 80)" >80%</a></li>		
		<li><a href="javascript:qual_file('{%=file.fileId%}', 60)" >60%</a></li>				
		<li><a href="javascript:qual_file('{%=file.fileId%}', 40)" >40%</a></li>		
	</ul>
	</div>
{{/if}}
{{/if}}
        </div>
        <div class="col-md-2">
            {% if (file.deleteUrl) { %}
{{if $CanSave}}
                <button class="btn btn-danger delete delete-button" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>{{$str_delete}}</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
{{/if}}
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>{{$str_cancel}}</span>
                </button>
            {% } %}
        </div>
    </div>
	
{% } %}
</script>

<script>
var ajax_wait;

function reset_delete(){
	$(".delete-button").on("click",function(e){
		if ( (typeof e.originalEvent) != "undefined" ){
			if(confirm("{{$str_del_pic}}")){
				return true;
			}
			return false;			
		}
	});
	
	$(".fileupload-buttonbar .delete").off("click");
	
	$(".fileupload-buttonbar .delete").on("click",function(e){
		if(confirm("{{$str_del_pics}}")){
			$(".files").find('.toggle:checked')
				.closest('.template-download')
				.find('.delete').click();
			$(".fileupload-buttonbar").find('.toggle')
				.prop('checked', false);
		}
	});
}

emps_scripts.push(
function(){
	ajax_wait = $('#ajax-wait');
	ajax_wait.css({ width: $(window).width(), height: $(window).height() });
	$('.files').sortable({
		items: '.sortable',
		update: function(e,ui) {
			var ids = [];
			$('.files').find('.sortable').each(function(){
				var file_id = $(this).data('id');
				if(file_id != undefined)
					ids.push(file_id);
			});
			$.ajax({
				beforeSend: function() { ajax_wait.fadeIn(); },
				complete: function() { ajax_wait.fadeOut(); },
				url: './?reorder_files=true',
				data: {p: ids}
			});
		}
	});
});

function enter_descr(id){
	$("#descr_id").html(id);
	$("#id_descr").val(id);	
	$("#descr_input").html($("#file_descr_"+id).html() || "");
	$("#enter_descr").modal();
}

function reupload_file(id){
	$("#upload_id").html(id);
	$("#id_file").val(id);	
	$("#reupload_file").modal();
}

function rotate_file(id){
	var o = $("#rotate_"+id);
	o.attr("disabled", true);
	if(o.hasClass("btn-danger")){
		$.ajax({
			type: "GET",
			url: "./?remove_tilt="+id,
			error: function(){
				o.attr("disabled", false);				
			},
			success: function(data, status){
				if(data == "OK"){
					o.removeClass("btn-danger");
					o.addClass("btn-default");	
				}
				o.attr("disabled", false);						
			}
		});		
	}else{
		$("#rotate_img").modal("show");
		$("#id_rotate_button").unbind("click");
		$("#id_rotate_button").click(function(){
			var deg = $("#id_angle").val();
			$("#rotate_img").modal("hide");
			$.ajax({
				type: "GET",
				url: "./?add_tilt="+id+"&angle="+deg,
				error: function(){
					o.attr("disabled", false);				
				},
				success: function(data, status){
					if(data == "OK"){
						o.removeClass("btn-default");
						o.addClass("btn-danger");	
					}
					o.attr("disabled", false);						
				}
			});			
		});
	}
}

function watermark_file(id){
	var o = $("#wm_"+id);
	o.attr("disabled", true);
	if(o.hasClass("btn-danger")){
		$.ajax({
			type: "GET",
			url: "./?remove_watermark="+id,
			error: function(){
				o.attr("disabled", false);				
			},
			success: function(data, status){
				if(data == "OK"){
					o.removeClass("btn-danger");
					o.addClass("btn-default");	
				}
				o.attr("disabled", false);						
			}
		});		
	}else{
		$.ajax({
			type: "GET",
			url: "./?add_watermark="+id,
			error: function(){
				o.attr("disabled", false);				
			},
			success: function(data, status){
				if(data == "OK"){
					o.removeClass("btn-default");
					o.addClass("btn-danger");	
				}
				o.attr("disabled", false);						
			}
		});			
	}
}

function resize_file(id, mode){
	_navigate("./?resize16x9="+id+"&mode="+mode);
}

function qual_file(id, mode){
	_navigate("./?qual="+id+"&mode="+mode);
}

function image_by_url(){
	$("#download_by_link").modal('show');
}

function links_file(id){
	$("#links_file").load("./?links="+id, function(){
		$("#links_file").modal('show');	
	});

}

</script>