<form action="." method="get" class="form" role="form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          {{if $smarty.const.EMPS_BOOTSTRAP != 4 }}
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          {{/if}}
        <h4 class="modal-title">Ссылки на файл №{{$row._id}}</h4>
          {{if $smarty.const.EMPS_BOOTSTRAP == 4 }}
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          {{/if}}

      </div>
      <div class="modal-body">
      <p>MIME-тип файла: <strong>{{$row.content_type}}</strong></p>
      
        <p>
        <label class="control-label" for="link_relative">Относительная:</label>
        <input class="form-control" id="link_relative" type="text" value="{{$row.link}}"/></p>

        <p>
        <label class="control-label" for="link_full">Абсолютная:</label>
        <input class="form-control" id="link_full" type="text" value="{{$BaseURL}}{{$row.link}}"/></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</form> 