{{if $lang eq "en"}}
{{assign var="str_title" value="Object's HTML"}}
{{assign var="str_warning" value="<strong>Warning!</strong> Someone else has edited the text since you started editing it!"}}
{{assign var="str_orig" value="Original"}}
{{assign var="str_current" value="Current Saved"}}
{{assign var="str_your" value="Your Current"}}
{{assign var="str_load" value="Load the merged version into the editor"}}
{{assign var="str_accept" value="Accept my version"}}
{{assign var="str_save" value="Save Changes"}}
{{assign var="str_insert" value="Insert pictures and videos"}}
{{assign var="str_photo" value="Photo"}}
{{assign var="str_strip" value="Photo-strip"}}
{{assign var="str_mos" value="Photo-tiles"}}
{{assign var="str_video" value="Video"}}
{{assign var="str_audio" value="Audio"}}
{{assign var="str_cut" value="Cut"}}
{{assign var="str_descr" value="<p>Place the cursor where you intent to insert the picture or other media.</p>
Before trying to insert pictures, upload them through &laquo;Images&raquo;.</p>"}}
{{else}}
{{assign var="str_title" value="HTML-текст объекта"}}
{{assign var="str_warning" value="<strong>Внимание!</strong> Кто-то другой уже изменил текст после того, как вы начали его редактировать!"}}
{{assign var="str_orig" value="Первоначальный вариант"}}
{{assign var="str_current" value="Нынешний сохранённый вариант"}}
{{assign var="str_your" value="Ваш текущий вариант"}}
{{assign var="str_load" value="Загрузить совмещённый вариант в редактор"}}
{{assign var="str_accept" value="Принять мой вариант"}}
{{assign var="str_save" value="Сохранить изменения"}}
{{assign var="str_insert" value="Вставка иллюстраций и ссылок"}}
{{assign var="str_photo" value="Фото"}}
{{assign var="str_strip" value="Фото-полоска"}}
{{assign var="str_mos" value="Фото-мозаика"}}
{{assign var="str_video" value="Видео"}}
{{assign var="str_audio" value="Аудио"}}
{{assign var="str_cut" value="Конец"}}
{{assign var="str_descr" value="<p>Установите курсор в том месте текста, куда хотите вставить код иллюстрации или другой шаблон.</p>
<p>Прежде чем добавлять иллюстрации, загрузите их через вкладку &laquo;Изображения&raquo;.</p>"}}
{{/if}}

<div class="move-modal modal fade" id="tmce_query">
</div>

{{if !$html_varname}}
{{assign var="html_varname" value="html"}}
{{/if}}

<h5 class="subhead">{{if $html_custom_title}}{{$html_custom_title}}{{else}}{{$str_title}}{{/if}}</h5>
{{if $Differences}}
<p class="alert alert-danger">{{$str_warning}}</p>
<table class="table">
<tr>
<th width="33%">{{$str_orig}}</th>
<th width="33%">{{$str_current}}</th>
<th width="33%">{{$str_your}}</th>
</tr>
<tr style="font-size:12px">
<td width="33%">
{{$row.html|escape:html|nl2br}}
</td>
<td width="33%">
{{**$row.other.html|escape:html|nl2br**}}
{{$row.cur_old.html|nl2br}}
</td>
<td width="33%">
{{**$row.new.html|escape:html|nl2br**}}
{{$row.new_cur.html|nl2br}}
</td>
</tr>
</table>
<p class="text-right">
<button class="btn btn-default">{{$str_load}}</button>
<button class="btn btn-success" onclick="ited_accept()">{{$str_accept}}</button>
</p>
{{/if}}
<div class="row">
<div class="col-md-9">
<form action="." method="post" id="main_form" class="form" role="form">
<textarea name="orig[{{$html_varname}}]" id="id_orig" style="display:none">{{$row.$html_varname|escape:html}}</textarea>
<input type="hidden" name="post_save" value="1" />
<input type="hidden" name="body" value="" />
<textarea id="id_html" class="form-control" rows="24" name="{{$html_varname}}">{{if $row.new.$html_varname}}{{$row.new.$html_varname|escape:html}}{{else}}{{$row.$html_varname|escape:html}}{{/if}}</textarea>

{{*submit*}}
</form>
</div>
<div class="col-md-3">
<p><button type="button" onclick="submit_form(this,'main_form')" class="form-control btn btn-primary" {{if !$CanSave}}disabled="disabled"{{/if}}>{{$str_save}}</button></p>

<div class="panel panel-default">
  <div class="panel-heading"><small>{{$str_insert}}</small></div>
  <div class="panel-body">
<a href="javascript:tmce_query('imgbyid')" class="btn btn-info btn-flow">{{$str_photo}}</a>
<a href="javascript:tmce_query('montage')" class="btn btn-info btn-flow">{{$str_strip}}</a>
<a href="javascript:tmce_query('photoreport')" class="btn btn-info btn-flow">{{$str_mos}}</a>
<a href="javascript:tmce_query('vidbyid')" class="btn btn-info btn-flow">{{$str_video}}</a>
<a href="javascript:tmce_query('audiobyid')" class="btn btn-info btn-flow">{{$str_audio}}</a>
<a href="javascript:tmce_query('cut')" class="btn btn-warning btn-flow">{{$str_cut}}</a>
  


  </div>  
  <div class="panel-divider"></div>
  <div class="panel-body">
<small>
{{$str_descr}}
</small>
  </div>
</div>


</div>
</div>

<script>

{{include file="db:ited/tinymce"}}

function tmce_add_text(txt){
	tinyMCE.execCommand("mceInsertContent",false,txt);
}

function tmce_answer(){
	var tmce_class = $("#tmce_class_name").val();	
	var i = $("#tmce_value img");
	
	i.attr("class",tmce_class);	
	if(tmce_class.indexOf('fancybox')!=-1){
		var full_url = $("#tmce_value").attr("data-full");
		var title = i.attr("title");
		i.wrap("<a href=\""+full_url+"\" title=\""+title+"\"class=\"fancybox\"></a>");
		i.removeClass("fancybox");
	}
		
	var value = $('#tmce_value').html();
	$('#tmce_query').modal('hide');
	tmce_add_text(value);
}

function tmce_montage_answer(mode){
	$('#tmce_query').modal('hide');
		
	if(mode=='all'){
		tmce_add_text('{'+'{emps plugin=montage context={{$context_id}}'+'}'+'}');
	}
	if(mode=='selected'){
		var list = tmce_selected.join(',');
		tmce_add_text('{'+'{emps plugin=montage list=\''+list+'\''+'}'+'}');		
	}
}

function tmce_photoreport_answer(mode){
	$('#tmce_query').modal('hide');
		
	if(mode=='all'){
		tmce_add_text('{'+'{emps plugin=photoreport context={{$context_id}}'+'}'+'}');
	}
	if(mode=='selected'){
		var list = tmce_selected.join(',');
		tmce_add_text('{'+'{emps plugin=photoreport list=\''+list+'\''+'}'+'}');		
	}
}

function tmce_video_answer(id){
	$('#tmce_query').modal('hide');	

	tmce_add_text('{'+'{emps plugin=video id=\''+id+'\''+'}'+'}');			
}

function tmce_audio_answer(id){
	$('#tmce_query').modal('hide');	

	tmce_add_text('{'+'{emps plugin=audio id=\''+id+'\''+'}'+'}');			
}

function tmce_query(val){
	tmce_selected = [];
	if(val == 'cut'){
		tmce_add_text('{'+'{*cut*'+'}'+'}');	
	}else{
		$("#tmce_query").load("/mcequery/{{$context_id}}/"+val+"/", function(){
			$("#tmce_query").modal('show');
		});	
	}
}

function tmce_load(tmce_body,tmce_title,tmce_footer){
	if(tmce_body!=""){
		$("#tmce_body").load(tmce_body);	
	}
	if(tmce_title!=""){
		$("#tmce_title").load(tmce_title);	
	}	
	if(tmce_footer!=""){
		$("#tmce_footer").load(tmce_footer);	
	}		
}

function tmce_set_class(tmce_class){
	$("#tmce_class_name").val(tmce_class);
}

function tmce_auto(mode){
	var dw = $("#tmce_width").attr("data-default");
	var dh = $("#tmce_height").attr("data-default");
	var ratio = dw / dh;
	
	var cw,ch;

	if(mode=='width'){
		ch = $("#tmce_height").val();
		cw = ch * ratio;
		$("#tmce_width").val(Math.round(cw));
	}
	if(mode=='height'){
		cw = $("#tmce_width").val();
		ch = cw / ratio;
		$("#tmce_height").val(Math.round(ch));
	}	
	tmce_set_size();
}

function tmce_set_size(){
	var cw, ch;
	ch = $("#tmce_height").val();
	cw = $("#tmce_width").val();
	
	$("#tmce_height").attr('data-current',ch);
	$("#tmce_width").attr('data-current',cw);	
	
	var temp = $("#tmce_value").attr("data-default");
	var url = temp+"?size="+cw+"x"+ch;
	
	$("#tmce_freepic").attr("src",url);
	var img = $("#tmce_value img");
	img.attr("src",url);	
/*	img.attr("width",cw);
	img.attr("height",ch);	*/
}

var tmce_selected = [];

function tmce_toggle_image(o){
	var l = $(o).data('link');
	var s = $(o).data('selected');

	var i;
	var g = tmce_selected.length;

	var f = false;
		
	if(!s){
	// add to array	
		for(i=0;i<g;i++){
			if(tmce_selected[i]==l){
				f = true;
			}
		}
		if(!f){
			tmce_selected.push(l);
		}
		$(o).data('selected', true);
		$(o).addClass("pic-selected");
	}else{
	// remove from array
		$(o).data('selected', false);
		$(o).removeClass("pic-selected");		
		for(i=0;i<g;i++){
			if(tmce_selected[i]==l){
				tmce_selected.splice(i, 1);
			}
		}
		
	}
	
}

function ited_accept(){
	$("#id_orig").remove();
	$("#main_form").submit();
}

</script>

