<form action="." method="post">
<input type="hidden" name="post_values" value="1" />
<table cellpadding="0" cellspacing="0" border="0" style="margin-top:8px">
<tr valign="top">
<th class="lt" width="150">Account</th>
<th class="lt" width="300">Description</th>
<th class="lt" width="60">Units</th>
<th class="lt" width="160">Amount</th>
<th class="lt" width="120">Last Changed</th>
<th class="lt" width="140">Reference</th>
</tr>
{{section name=ai loop=$lst}}
<input type="hidden" name="take[{{$lst[ai].id}}]" value="1" />
<tr valign="top">
<td class="le">{{$lst[ai].code}}</td>
<td class="le">{{$lst[ai].descr}}</td>
<td class="le">
{{include file="db:enum/pickenum" xenum="units" value=$lst[ai].units name="units[`$lst[ai].id`]"}}
</td>
<td class="le">
<input type="text" name="amount[{{$lst[ai].id}}]" value="{{$lst[ai].amount}}" style="width:150px" class="input" />
</td>
<td class="le">
{{if $lst[ai].time}}{{$lst[ai].time}}{{else}}(never entered){{/if}}
</td>
<td class="le">
{{if $lst[ai].ref}}
{{assign var="units" value=$lst[ai].ref.units}}
{{include file="db:enum/enumval" e=$enum.units value=$units}}
{{$lst[ai].ref.amount}}
{{else}}
-
{{/if}}
</td>
</tr>
{{/section}}
</table>
<p><input type="submit" value=" Save Changes " class="input button" /></p>
</form>