{{if $lang eq "en"}}

{{assign var="str_prev" value="Previous"}}
{{assign var="str_next" value="Next"}}

{{else}}

{{assign var="str_prev" value="Предыдущие"}}
{{assign var="str_next" value="Следующие"}}

{{/if}}

{{section name=i loop=$lst}}
<div class="listitem">
<a href="javascript:select_item('{{$lst[i].id}}')"><strong>{{$lst[i].name}}</strong> {{if $lst[i].parents}}
{{$lst[i].parents}}
{{/if}}</a>
</div>
{{if $lst[i].extrainfo}}
<div class="listextra">
{{$lst[i].extrainfo}}
</div>
{{/if}}
{{/section}}
<div class="listpages">
{{if $prev.start < $cur.start}}
<a href="javascript:list_start({{$prev.start}})">&laquo; {{$str_prev}} {{$prev.count}}</a>
&nbsp; 
{{/if}}
{{$cur.fi}}-{{$cur.li}}
{{if $next.start > $cur.start}}
 &nbsp;
<a href="javascript:list_start({{$next.start}})">{{$str_next}} {{$next.count}} &raquo;</a>
{{/if}}
</div>