.flex-end {
    justify-content: flex-end;
}

.flex-center {
    justify-content: center;
}

@media screen and (min-width: 1088px) {
    .modal-lg {
        width: 1000px;
    }

    .modal-sm {
        width: 400px;
    }
}

.is-justified-end {
    justify-content: flex-end;
}

.buttons.is-justified-end .button:first-child:not(.is-fullwidth) {
    margin-left: 0;
    margin-right: 0;
}

.buttons.is-justified-end .button:not(:first-child):not(.is-fullwidth) {
    margin-right: 0;
    margin-left: .5rem;
}

.adminbg h1 {
    margin: .5rem 0 1rem 0;
}

.adminbg h2 {
    margin: .4rem 0 .8rem 0;
}

.adminbg h3 {
    margin: .3rem 0 .6rem 0;
}

.button-size {
    -moz-appearance: none;
    -webkit-appearance: none;
    align-items: center;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    justify-content: flex-start;
    line-height: 1.5;
    padding-bottom: calc(0.375em - 1px);
    padding-left: calc(0.625em - 1px);
    padding-right: calc(0.625em - 1px);
    padding-top: calc(0.375em - 1px);
    position: relative;
    vertical-align: top;

}

.button-size.is-fullwidth {
    display: flex;
    width: 100%;
}

.container-16x9 {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /*16:9*/
    height: 0;
    overflow: hidden;
}


.container-4x3 {
    position: relative;
    width: 100%;
    padding-bottom: 75%; /*4:3*/
    height: 0;
    overflow: hidden;
}

.container-2x1 {
    position: relative;
    width: 100%;
    padding-bottom: 50%; /*4:3*/
    height: 0;
    overflow: hidden;
}


.ip-rep {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.ip-rep-photo {
    min-width: 9.32rem;
}

.ip-rep-photo a {
    display: block;
}

table.is-table-collapsible .td-tag {
    display: none;
}

@media screen and (max-width: 768px) {
    table.is-table-collapsible * {
    }

    table.is-table-collapsible td {
        display: block;
        width: 100%;
    }

    table.is-table-collapsible th {
        display: none;
    }

    table.is-table-collapsible .td-tag {
        display: block;
        width: 100%;
        font-size: 0.75rem;
        padding-bottom: 0;
    }

}


.columns.is-variable {
    margin: calc(-1 * var(--columnGap));
}
.columns.is-variable .column {
    padding: var(--columnGap);
}