<form action="." method="get" class="form" role="form">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          {{if $smarty.const.EMPS_BOOTSTRAP != 4 }}
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        {{/if}}
        <h4 class="modal-title">Links to photo #{{$row.id}}</h4>
          {{if $smarty.const.EMPS_BOOTSTRAP == 4 }}
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          {{/if}}
      </div>
      <div class="modal-body">
      
        <p>
        <label class="control-label" for="link_relative">Relative:</label>
        <input class="form-control" id="link_relative" type="text" value="/pic/{{$row.filename}}/{{$row.orig_filename}}"/></p>

        <p>
        <label class="control-label" for="link_full">Absolute:</label>
        <input class="form-control" id="link_full" type="text" value="{{$BaseURL}}/pic/{{$row.filename}}/{{$row.orig_filename}}"/></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</form> 