<form action="." method="get" class="form" role="form">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        {{if $smarty.const.EMPS_BOOTSTRAP != 4}}
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        {{/if}}
        <h4 class="modal-title">Ссылки на видео №{{$row.id}}</h4>
          {{if $smarty.const.EMPS_BOOTSTRAP == 4}}
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          {{/if}}
      </div>
      <div class="modal-body">
      <h3>{{$row.name}}</h3>
      
        <p>
        <label class="control-label" for="link_relative">Ссылка:</label>
        <input class="form-control" id="link_relative" type="text" value="{{$row.vslink}}"/>
        <div class="help-block"><a class="btn btn-success" href="{{$row.vslink}}" target="_blank">{{$row.vslink}}
        <i class="glyphicon glyphicon-share-alt"></i>
        </a></div>
        </p>

        <p>
        <label class="control-label" for="link_full">HTML-код для вставки:</label>
        <textarea class="form-control" id="link_full"><iframe width="{{$row.width+10}}" height="{{$row.height+10}}" src="http://www.youtube.com/embed/{{$row.youtube_id}}" frameborder="0" allowfullscreen="allowfullscreen" data-link="http://www.youtube.com/watch?v={{$row.youtube_id}}"></iframe>        
        </textarea></p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</form> 