<div class="clearfix">
{{if $ShowTiming}}
<p class="text-center">Runtime:<br />
<b>{{$timespan}}</b> ms</p>
{{/if}}
{{if $ShowErrors}}
{{if $errors}}
<h4 class="text-center">SQL Errors:</h4>
<table class="table table-condensed">
<tr valign="top">
<th width="1000">Error / Query</th>
</tr>
{{section name=i loop=$errors}}
<tr valign="top">
<td ><b>{{$errors[i].error}}</b><br />
{{$errors[i].query}}
</td>
</tr>
{{/section}}
</table>
{{/if}}
{{/if}}

{{if $SqlProfile}}
{{if $timing}}
<table class="table table-condensed">
<tr valign="top">
<th  width="900">Query</th>
<th  width="100">Time</th>
</tr>
{{section name=i loop=$timing}}
<tr valign="top">
<td >{{$timing[i].query}}</td>
<td >{{$timing[i].ms}} ms</td>
</tr>
{{/section}}
</table>
{{/if}}
{{/if}}

</div>