{{if !$page.noscripts}}
    {{if $page.css_fw == "bulma"}}
        <script type="text/javascript" src="/bulma/js/bulma.js" defer></script>
    {{elseif $page.css_fw == "bootstrap4"}}
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" defer></script>
        <script type="text/javascript" src="/bootstrap4/js/bootstrap.min.js" defer></script>
    {{else}}
        {{if $smarty.const.EMPS_BOOTSTRAP == 4}}
            <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" defer></script>
            <script type="text/javascript" src="/bootstrap4/js/bootstrap.min.js" defer></script>
        {{else}}
            <script type="text/javascript" src="/js/bootstrap.min.js" defer></script>
        {{/if}}
    {{/if}}
    <script type="text/javascript" src="/js/tools.js" defer></script>
    <script>
        {{if $login.status}}
        var logged_on = true;
        {{else}}
        var logged_on = false;
        {{/if}}
    </script>
{{/if}}

{{if $page.clipboard}}
    <script type="text/javascript" src="/bower_components/clipboard/dist/clipboard.min.js" defer></script>
{{/if}}


{{if $page.ipbox}}
    <script>
        emps_scripts.push(function () {
            $(".ipbox").EMPS_IPBox({one_row: true, with_text: true});
        });
    </script>
{{/if}}

{{include file="db:site/footscripts"}}
