{{if !$page.noscripts}}
    {{if $page.css_fw == "bulma"}}
        <script type="text/javascript" src="/bulma/js/bulma.js" defer></script>
    {{elseif $page.css_fw == "bootstrap4"}}
        <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" defer></script>
        <script type="text/javascript" src="/bootstrap4/js/bootstrap.min.js" defer></script>
    {{else}}
        {{if $smarty.const.EMPS_BOOTSTRAP == 4}}
            <script type="text/javascript"
                    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" defer></script>
            <script type="text/javascript" src="/bootstrap4/js/bootstrap.min.js" defer></script>
        {{else}}
            <script type="text/javascript" src="/js/bootstrap.min.js" defer></script>
        {{/if}}
    {{/if}}
    <script type="text/javascript" src="/js/tools.js" defer></script>
    <script>
        {{if $login.status}}
        var logged_on = true;
        {{else}}
        var logged_on = false;
        {{/if}}
    </script>
{{/if}}

{{if $page.clipboard}}
    <script type="text/javascript" src="/bower_components/clipboard/dist/clipboard.min.js" defer></script>
{{/if}}

{{if $page.toastr}}
    <script type="text/javascript" src="/bower_components/toastr/toastr.min.js" defer></script>
    <script>
        emps_scripts.push(function(){
            toastr.options.timeOut = 3000;
            toastr.options.positionClass = "toast-bottom-center";
        });
    </script>
{{/if}}

{{if $page.ipbox}}
    <script>
        emps_scripts.push(function () {
            $(".ipbox").EMPS_IPBox({one_row: true, with_text: true});
        });
    </script>
{{/if}}

{{if $page.tinymce_vue}}
    <script>
        {{include file="db:inc/tinymce_set.js"}}
        emps_tinymce_settings.trusted = true;
        emps_tinymce_settings.format = "raw";
        emps_tinymce_settings.height = 480;
        emps_tinymce_settings.body_class = "content";
    </script>
{{/if}}

{{if $page.sortable_vue}}
    <script type="text/javascript" src="/node_modules/sortablejs/Sortable.min.js" defer></script>
    <script type="text/javascript" src="/js/vue/sortable/vue-sortable.js" defer></script>
    <script>
        var emps_sortable_options = {
            animation: 150
        };
    </script>
{{/if}}

{{if $page.vue_select}}
    <script type="text/javascript" src="/node_modules/vue-select/dist/vue-select.js" defer></script>
    <script>
        emps_scripts.push(function(){
            EMPS.load_css('/node_modules/vue-select/dist/vue-select.css');
        });
    </script>
{{/if}}

{{if $page.bulma_extensions}}
    <script type="text/javascript" src="/node_modules/bulma-extensions/dist/js/bulma-extensions.min.js" {{$add_defer}}></script>
{{/if}}

{{if $page.lazy}}
    <script type="text/javascript" src="/js/lazy/jquery.lazy.js" {{$add_defer}}></script>
{{/if}}

{{include file="db:site/footscripts"}}
