{{assign var="add_defer" value=""}}
{{assign var="add_media" value="media=\"screen\""}}
{{if $page.defer_all}}
    {{assign var="add_defer" value="defer"}}
    {{assign var="add_media" value="media=\"none\" data-dynamic=\"true\""}}
{{/if}}
<script>
    var emps_scripts = [];
    var $lang = "{{$lang}}";
</script>

{{if $page.css_fw == "bulma"}}
    <link href="/bulma/css/bulma.min.css" rel="stylesheet" {{$add_media}}/>
    <link href="/bulma/ext.css" rel="stylesheet" {{$add_media}}/>
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" {{$add_media}}/>
{{elseif $page.css_fw == "bootstrap4"}}
    <link href="/bootstrap4/css/bootstrap.min.css" rel="stylesheet" {{$add_media}}/>
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" {{$add_media}}/>
{{elseif $page.css_fw == "custom_bootstrap"}}
{{else}}
    {{if $smarty.const.EMPS_BOOTSTRAP == 4}}
        <link href="/bootstrap4/css/bootstrap.min.css" rel="stylesheet" {{$add_media}}/>
        <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" {{$add_media}}/>
    {{else}}
        <link href="/css/bootstrap.min.css" rel="stylesheet" {{$add_media}}/>
        <link href="/css/bootstrap-theme.min.css" rel="stylesheet" {{$add_media}} />
    {{/if}}
{{/if}}

{{if $page.toastr}}
    <link href="/bower_components/toastr/toastr.min.css" rel="stylesheet" {{$add_media}}/>
{{/if}}

{{include file="db:site/styles"}}

<link rel="icon"
      type="image/png"
      href="/favicon.png"/>

{{if !$page.noscripts}}
    {{if $page.use_bower}}
        {{if "jquery_debug"|emps:get_setting == 1}}
            <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js" {{$add_defer}}></script>
            {{if !("no_jquery_ui"|emps:get_setting)}}
            <script src="/bower_components/jquery-ui/jquery-ui.js" {{$add_defer}}></script>
            <link href="/bower_components/jquery-ui/themes/ui-lightness/jquery-ui.min.css"
                  rel="stylesheet" {{$add_media}}>
            {{/if}}
        {{else}}
            <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js" {{$add_defer}}></script>
            {{if !("no_jquery_ui"|emps:get_setting)}}
            <script src="/bower_components/jquery-ui/jquery-ui.min.js" {{$add_defer}}></script>
            <link href="/bower_components/jquery-ui/themes/ui-lightness/jquery-ui.min.css"
                  rel="stylesheet" {{$add_media}}>
            {{/if}}
        {{/if}}
    {{else}}
        <script type="text/javascript" src="/js/jquery.js" {{$add_defer}}></script>
        {{if !("no_jquery_ui"|emps:get_setting)}}
        <script src="/js/jquery.ui.js" {{$add_defer}}></script>
        <link href="/css/ui-lightness/jquery-ui-1.10.3.custom.css" rel="stylesheet" {{$add_media}}>
        {{/if}}
    {{/if}}
{{/if}}

<link href="/fonts/fonts.css" rel="stylesheet" {{$add_media}} />

{{if $page.defer_all}}
    <script src="/js/dynamic_css.js" defer></script>
{{/if}}

{{if $page.calendar}}
    {{if $lang eq "en"}}
        <script type="text/javascript" src="/js/jquery.ui.datepicker-en.js" {{$add_defer}}></script>
    {{else}}
        <script type="text/javascript" src="/js/jquery.ui.datepicker-ru.js" {{$add_defer}}></script>
    {{/if}}
    <script type="text/javascript" src="/js/jquery-ui-timepicker-addon.js" {{$add_defer}}></script>
    <link href="/js/jquery-ui-timepicker-addon.min.css" rel="stylesheet" type="text/css" {{$add_media}} />
    {{if $lang eq "en"}}
        <script type="text/javascript" src="/js/i18n/jquery-ui-timepicker-addon-i18n.js" {{$add_defer}}></script>
    {{else}}
        <script type="text/javascript" src="/js/i18n/jquery-ui-timepicker-ru.js" {{$add_defer}}></script>
    {{/if}}
    <script type="text/javascript" src="/js/jquery-ui-sliderAccess.js" {{$add_defer}}></script>
    <script type="text/javascript">

        emps_scripts.push(function () {
            {{if ($lang eq "nn") || ($lang eq "ru")}}
            $.datepicker.setDefaults($.datepicker.regional["ru"]);
            {{/if}}
            $(".datepicker").datepicker();
            $(".timepicker").datetimepicker();
        });

    </script>
{{/if}}

{{if $page.momentjs}}
    <script type="text/javascript" src="/bower_components/moment/min/moment.min.js" {{$add_defer}}></script>
    {{if $lang != "en"}}
        <script type="text/javascript" src="/bower_components/moment/locale/ru.js" {{$add_defer}}></script>
    {{/if}}
{{/if}}

{{if $page.newcalendar}}


    {{if $page.use_bower}}
        {{if !$page.momentjs}}
            <script type="text/javascript" src="/bower_components/moment/min/moment.min.js" {{$add_defer}}></script>
            {{if $lang != "en"}}
                <script type="text/javascript" src="/bower_components/moment/locale/ru.js" {{$add_defer}}></script>
            {{/if}}
        {{/if}}
        <script type="text/javascript"
                src="/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" {{$add_defer}}></script>
        <link href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css"
              rel="stylesheet" type="text/css" {{$add_media}} />
        {{if $lang != "en"}}
            <script type="text/javascript" src="/js/locales/bootstrap-datetimepicker.ru.js" {{$add_defer}}></script>
        {{/if}}

    {{else}}
        <link href="/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" {{$add_media}} />
        <script type="text/javascript" src="/js/moment.min.js" {{$add_defer}}></script>
        <script type="text/javascript" src="/js/locales/moment/ru.js" {{$add_defer}}></script>
        <script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js" {{$add_defer}}></script>
        <script type="text/javascript" src="/js/locales/bootstrap-datetimepicker.ru.js" {{$add_defer}}></script>
    {{/if}}

{{/if}}


{{if $page.flatpickr}}
    <link rel="stylesheet" href="/node_modules/flatpickr/dist/flatpickr.min.css" {{$add_media}}/>
    <script src="/node_modules/flatpickr/dist/flatpickr.min.js" {{$add_defer}}></script>
    {{if $lang == "ru"}}
        <script src="/node_modules/flatpickr/dist/l10n/ru.js" {{$add_defer}}></script>
    {{/if}}
    <script>
        var emps_flatpickr_options = {
            locale: "{{$lang}}",
            dateFormat: "d.m.Y",
            time_24hr: true
        };
    </script>
{{/if}}

{{if $page.simplebar}}
    <link rel="stylesheet" href="/node_modules/simplebar/dist/simplebar.min.css" {{$add_media}}/>
    <script src="/node_modules/simplebar/dist/simplebar.min.js" {{$add_defer}}></script>
{{/if}}

{{if $page.autoarray}}
    <script type="text/javascript" src="/js/autoArray.js" {{$add_defer}}></script>
{{/if}}

{{if $page.ited}}
    <script type="text/javascript" src="/js/objectSelector.js" {{$add_defer}}></script>
    <link rel="stylesheet" type="text/css" href="/css/selector.css" {{$add_media}} />
    <script type="text/javascript" src="/js/jquery.fancybox.pack.js" {{$add_defer}}></script>
    <link rel="stylesheet" type="text/css" href="/css/fancybox/jquery.fancybox.css" {{$add_media}} />
{{/if}}

{{if $page.angularjs}}

    {{if $page.use_bower}}
        {{if $page.angular_debug}}
            <script src="/bower_components/angular/angular.js" {{$add_defer}}></script>
        {{else}}
            <script src="/bower_components/angular/angular.min.js" {{$add_defer}}></script>
        {{/if}}

        {{if $lang == 'ru'}}
            <script src="/bower_components/angular-i18n/angular-locale_ru-ru.js" {{$add_defer}}></script>
        {{/if}}

    {{else}}
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.1/angular.js" {{$add_defer}}></script>
        {{if $lang == 'ru'}}
            <script src="https://code.angularjs.org/1.4.1/i18n/angular-locale_ru-ru.js" {{$add_defer}}></script>
        {{/if}}
    {{/if}}
    <script>
        ng_modules = [];
    </script>
{{/if}}

<script src="/js/emps.js" defer></script>
{{if $page.vuejs}}
    <script src="/js/i18n.js" {{$add_defer}}></script>
    <script src="/js/vuetools.js" {{$add_defer}}></script>
    {{if $page.vue_debug}}
        <script src="/bower_components/vue/dist/vue.js" {{$add_defer}}></script>
        <script src="/bower_components/vuex/dist/vuex.js" {{$add_defer}}></script>
        <script src="/bower_components/axios/dist/axios.js" {{$add_defer}}></script>
    {{else}}
        <script src="/bower_components/vue/dist/vue.min.js" {{$add_defer}}></script>
        <script src="/bower_components/vuex/dist/vuex.min.js" {{$add_defer}}></script>
        <script src="/bower_components/axios/dist/axios.min.js" {{$add_defer}}></script>
    {{/if}}
    <script>
        axios.defaults.headers.common['Data-Only'] = 'yes';
    </script>
    {{if $page.vue_numeric}}
        <script src="/node_modules/accounting-js/dist/accounting.umd.js" {{$add_defer}}></script>
        <script src="/node_modules/vue-numeric/dist/vue-numeric.min.js" {{$add_defer}}></script>
        <script>
            emps_scripts.push(function(){
                Vue.use(VueNumeric.default);
            });
        </script>
    {{/if}}
{{/if}}


{{if $page.tinymce}}
    {{if $page.use_bower}}
        <script type="text/javascript" src="/bower_components/tinymce/tinymce.min.js" {{$add_defer}}></script>
    {{else}}
        <script type="text/javascript" src="/js/tinymce/tinymce.min.js" {{$add_defer}}></script>
    {{/if}}

    {{if $page.tinymce_ng}}
        {{if $page.use_bower}}
            <script type="text/javascript"
                    src="/bower_components/angular-ui-tinymce/dist/tinymce.min.js" {{$add_defer}}></script>
        {{else}}
            <script type="text/javascript" src="/js/tinymce/ng/tinymce.js" {{$add_defer}}></script>
        {{/if}}
        <script>
            ng_modules.push('ui.tinymce');
        </script>
    {{/if}}

    {{if $page.tinymce_vue}}
        <script type="text/javascript"
                src="/node_modules/@tinymce/tinymce-vue/lib/browser/tinymce-vue.min.js" {{$add_defer}}></script>


    {{/if}}
{{/if}}

{{if $page.ng_sortable}}
    <script type="text/javascript" src="/bower_components/angular-ui-sortable/sortable.min.js" {{$add_defer}}></script>
{{/if}}

{{if $page.ng_switch}}
    <link href="/bower_components/angular-ui-switch/angular-ui-switch.min.css" rel="stylesheet"
          type="text/css" {{$add_media}}/>
    <script type="text/javascript"
            src="/bower_components/angular-ui-switch/angular-ui-switch.min.js" {{$add_defer}}></script>
{{/if}}

{{if $page.treeview}}
    <link href="/css/tree.css" rel="stylesheet" type="text/css" {{$add_media}}/>
    <script type="text/javascript" src="/js/treeView.js" {{$add_defer}}></script>
{{/if}}

{{if $page.ipbox}}
    <script type="text/javascript" src="/js/ipbox/jquery.ipbox.js" {{$add_defer}}></script>
    <link rel="stylesheet" type="text/css" href="/js/ipbox/css/jquery.ipbox.css" {{$add_media}} />
{{/if}}

{{if $page.ngstorage}}
    <script type="text/javascript" src="/bower_components/ngstorage/ngStorage.min.js" {{$add_defer}}></script>
{{/if}}

{{if $page.simple_file_uploader}}
    <link rel="stylesheet" type="text/css" href="/css/fileupload/jquery.fileupload.css" {{$add_media}} />
{{/if}}

{{if $page.comments}}
    <link href="/css/comments.css" rel="stylesheet" {{$add_media}} />
{{/if}}

{{if $page.simple_file_uploader}}
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="/js/fileupload/load-image.min.js" defer></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="/js/fileupload/canvas-to-blob.min.js" defer></script>
    <script src="/js/fileupload/jquery.fileupload.js" defer></script>
    <!-- The File Upload processing plugin -->
    <script src="/js/fileupload/jquery.fileupload-process.js" defer></script>
    <!-- The File Upload Angular JS module -->
    <script src="/js/fileupload/jquery.fileupload-angular.js" defer></script>
{{else}}

    {{if $page.blueimp_uploader}}
        {{include file="db:files/blueimp/headscripts"}}
    {{/if}}
{{/if}}

{{if $page.angular_datetimepicker}}
    <script src="/bower_components/angular-eonasdan-datetimepicker/dist/angular-eonasdan-datetimepicker.min.js"
            defer></script>
{{/if}}

{{if $page.recaptcha}}
    <script src='https://www.google.com/recaptcha/api.js'></script>
{{/if}}

{{include file="db:site/headscripts"}}

{{if $page.yandex_maps}}
    <script src="//api-maps.yandex.ru/1.1/index.xml" type="text/javascript"></script>
{{/if}}