{{if $controls_type == "top"}}

    {{if $Multilevel}}
        <div class="field">
            <nav class="breadcrumb has-arrow-separator" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{$ToTopLink}}" @click="navigate('{{$ToTopLink}}', $event)">
                            <i class="fa fa-level-up"></i> &nbsp; На самый верх</a></li>
                    <li v-for="(level, index) in parents">
                        <a :href="level.link" @click="navigate(level.link, $event)">{{"level.name"|js}}</a></li>
                </ul>
            </nav>
        </div>
    {{/if}}

    <div class="is-flex-desktop">
        {{if !$vted_no_create}}
            <div class="field">
                <button class="button is-primary is-outlined" @click="create_new()">
                    <i class="fa fa-file-o"></i> &nbsp; Создать</button> &nbsp;
            </div>
        {{/if}}

        <form class="field has-addons" @submit="open_by_id">
            <div class="control">
                <input class="input is-link" type="number" style="width: 7rem" v-model="lookup_id">
            </div>
            <div class="control">
                <button type="submit" class="button is-link is-outlined">
                    <i class="fa fa-id-card"></i> &nbsp; Открыть по номеру
                </button>
            </div>
            &nbsp;
        </form>

        {{if $vted_search}}
            &nbsp;
            <form class="field has-addons " @submit="search" style="flex: 2">
                <div class="control is-expanded">
                    <input class="input is-success is-fullwidth" type="text" v-model="search_text">
                </div>
                <div class="control">
                    <button type="button" class="button is-success is-outlined" @click="clear_search('')">
                        <i class="fa fa-remove"></i>
                    </button>
                </div>
                <div class="control">
                    <button type="submit" class="button is-success is-outlined">
                        <i class="fa fa-search"></i> &nbsp; Искать
                    </button>
                </div>
                &nbsp;
            </form>

        {{/if}}
        {{if $vted_filters}}
            &nbsp;
            <div class="field">
                <button :class="{'button is-outlined': true, 'is-danger': has_filter(), 'is-info': !has_filter()}" @click="open_filter()">
                    <i class="fa fa-filter"></i> &nbsp; Фильтры</button>
            </div>
        {{/if}}
    </div>


{{/if}}
{{if $controls_type == "toptree"}}
    <div class="is-flex-desktop">
        <div class="field">
            <button class="button is-primary is-outlined" @click="make_folder()">
                <i class="fa fa-file-o"></i> &nbsp; Создать подраздел</button> &nbsp;
            <button class="button is-info is-outlined" @click.stop="navigate(all_items_link(), $event)">
                <i class="fa fa-search"></i> &nbsp; Все</button> &nbsp;
            <button class="button is-info is-outlined" @click.stop="refresh_tree">
                <i class="fa fa-refresh"></i></button> &nbsp;
        </div>
    </div>
{{/if}}

{{if $controls_type == "selected"}}
    <div class="buttons">
        <button type="button" class="button" @click.stop="select_all"><i class="fa fa-check-square-o"></i>&nbsp; Выделить все</button>
        <button type="button" class="button" v-if="has_selected" @click.stop="copy_selected"><i class="fa fa-copy"></i>&nbsp; Копировать</button>
        <button type="button" class="button" v-if="has_selected" @click.stop="cut_selected"><i class="fa fa-cut"></i>&nbsp; Вырезать</button>
        <button type="button" class="button" v-if="has_clipboard" @click.stop="paste"><i class="fa fa-paste"></i>&nbsp; Вставить</button>
    </div>
{{/if}}