<select name="{{$name}}" {{if $id}}id="{{$id}}"{{/if}} {{if $class}}class="{{$class}}"{{/if}} {{if $style}}style="{{$style}}"{{/if}}>
{{if $withempty}}
<option value=""></option>
{{/if}}
{{assign var="elst" value=$enum.$xenum}}
{{section name=i loop=$elst}}
{{if (($max+0>0) && ($elst[i].code+0 <= $max)) || (!$max)}}
<option value="{{$elst[i].code}}" {{if $elst[i].code eq $value}}selected{{/if}} {{if $elst[i].def && (!isset($value))}}selected{{/if}}>{{$elst[i].value}}</option>
{{/if}}
{{/section}}
</select>