{{if $lang eq "en"}}
{{assign var="str_select" value="select..."}}
{{assign var="str_clear" value="clear"}}
{{assign var="str_start" value="Start typing the name to search"}}
{{else}}
{{assign var="str_select" value="выбрать..."}}
{{assign var="str_clear" value="очистить"}}
{{assign var="str_start" value="Начните вводить название для поиска"}}
{{/if}}

<div class="input-group" {{if $hidden_inputs}}style="display:none"{{/if}}>

<input type="hidden" ng-model="{{$model}}" />
<input type="text" ignore-dirty ng-model="pick_{{$id}}.display_value" style="width:{{$width}}px;{{$addstyle}}" {{if $placeholder}}placeholder="{{$placeholder}}"{{/if}} class="form-control pick_input" ng-click="pick_{{$id}}.select()" readonly="readonly" />

<span class="input-group-btn">
{{if $textmode}}
<a class="btn btn-default pointer" ng-click="pick_{{$id}}.select()">{{$str_select}}</a>
{{if !$noclear}}
<a class="btn btn-default pointer" ng-click="pick_{{$id}}.clear()">{{$str_clear}}</a>
{{/if}}
{{else}}
<a class="btn btn-default pointer" ng-click="pick_{{$id}}.select()"><i class="glyphicon glyphicon-hand-left"></i></a>
{{if !$nolink}}
<a class="btn btn-default pointer" ng-click="pick_{{$id}}.follow()"><i class="glyphicon glyphicon-arrow-right"></i></a>
{{/if}}
{{if !$noclear}}
<a class="btn btn-default pointer" ng-click="pick_{{$id}}.select()"><i class="glyphicon glyphicon-remove"></i></a>
{{/if}}

{{/if}}
{{if $submit}}
<button tyle="submit" class="btn btn-primary {{$submitclass}}" id="submitform_{{$id}}">{{$submit}}</button>
{{/if}}
</span>
</div>

{{capture name="nginputModal"}}
<div class="move-modal modal fade" id="nginput_modal_{{$id}}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{{$typename}}</h4>
        </div>
        <div class="modal-body">
<div class="form-group">
<input type="text" ng-model="pick_{{$id}}.search_phrase" class="form-control" ignore-dirty placeholder="{{$str_start}}" />
</div>

<div class="form-group">
<table class="table table-striped">
<tr ng-repeat="srow in pick_{{$id}}.list track by $index" class="pointer" ng-click="pick_{{$id}}.select_value(srow.id)">
<td width="40" >
<small>{{AJ v="srow.id"}}</small>
</td>
{{if $pic_column}}
<td width="100" style="background-color:white">
<img src="/freepic/{{AJ v="srow.pic.md5"}}.{{AJ v="srow.pic.ext"}}?size=100x100&opts=inner" border="0"/>
</td>
{{/if}}
{{$extra_cols}}
<td>
<a>{{AJ v="srow.display_name"}}</a>
</td>
{{$after_cols}}
</tr>
</table>
</div>

{{include file="db:page/ng_paginator" pages_var="pick_`$id`.pages" roll_pfx="pick_`$id`."}}

        </div>
      </div>
    </div>
</div>

{{/capture}}

{{if !$cut_modal}}
{{$smarty.capture.nginputModal}}
{{/if}}

<script>
if(typeof emps_global_nginputs == "undefined"){
	var emps_global_nginputs = {};
}

if(typeof emps_global_nginputs.{{$pad}} == "undefined"){
	emps_global_nginputs.{{$pad}} = [];
}

emps_global_nginputs.{{$pad}}.push(function($rootScope, $scope, $http, $location, $timeout){
	var pick = {};
	
	pick.search_promise = false;
	
	$scope.$watch('{{$model}}', function(newData, oldData){
		
//{{* describe new value *}}
		if(typeof newData != "undefined"){
			if(newData > 0){
				$http.get('{{$descriptor}}{{$type}}/'+newData+'/').success(function (response) {
					if(response.code == 'OK'){
						$timeout(function(){
							$scope.pick_{{$id}}.display_value = response.display;
							$scope.pick_{{$id}}.on_described();
						});
					}
				});
			}else{
				$scope.pick_{{$id}}.display_value = "";
			}
		}
	});
	
	$scope.$watch('pick_{{$id}}.search_phrase', function(newData, oldData){
		if(typeof newData != "undefined"){
			$timeout.cancel($scope.pick_{{$id}}.search_promise);
			$scope.pick_{{$id}}.search_promise = $timeout(function(){
				$scope.pick_{{$id}}.update_list();
			}, 500);
		}
	});
	
	pick.list = [];
	pick.start = 0;
	pick.search_phrase = "";
	pick.lister = '{{$lister}}';
	pick.list_type = '{{$type}}';
	
	pick.on_described = function(){
	};
	
	pick.roll_to = function(page){
		$scope.pick_{{$id}}.start = page.start;
		$scope.pick_{{$id}}.update_list();
	};
	
	pick.display = function(){
		return $scope.pick_{{$id}}.display_value;
	};
	pick.update_list = function(){
		pick = $scope.pick_{{$id}};
		$http.get(pick.lister+pick.list_type+'/'+pick.start+'/?text='+pick.search_phrase).success(function (response) {
			if(response.code == 'OK'){
				$timeout(function(){
					$scope.pick_{{$id}}.list = response.list;
					$scope.pick_{{$id}}.pages = response.pages;
				}, 10);
			}
		});
	};
	pick.select = function(){
		pick = $scope.pick_{{$id}};
		$http.get(pick.lister+pick.list_type+'/'+pick.start+'/').success(function (response) {
			if(response.code == 'OK'){
				$timeout(function(){
					$scope.pick_{{$id}}.list = response.list;
					$scope.pick_{{$id}}.pages = response.pages;
					$("#nginput_modal_{{$id}}").modal('show');
				}, 10);
			}
		});
	};
	pick.select_value = function(id){
		$timeout(function(){
			$scope.{{$model}} = id;
			$("#nginput_modal_{{$id}}").modal('hide');
			$scope.{{$form}}.$setDirty();
		}, 10);
	};
	pick.clear = function(){
		$scope.{{$model}} = 0;
		$scope.{{$form}}.$setDirty();
	};

	$scope.pick_{{$id}} = pick;
});

</script>