<div class="btn-group">
  <a href="{{$lst[i].nlink}}" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-pencil"></span>&nbsp; Правка</a>
  <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
{{if $row_html}}  
    <li><a href="{{$lst[i].ilink}}"><span class="glyphicon glyphicon-header"></span>&nbsp; HTML</a>  
{{/if}}    
    <li><a href="{{$lst[i].plink}}"><span class="glyphicon glyphicon-list"></span>&nbsp; Свойства</a>      
    <li><a href="{{$lst[i].hlink}}"><span class="glyphicon glyphicon-camera"></span>&nbsp; Фотографии</a>      
{{$extra_actions}}
	<li class="divider"></li>
{{if !$no_delete}}
    <li><a href="javascript:delete_modal('{{$lst[i].klink}}')">&times; &nbsp; Удалить</a></li>
{{/if}}
  </ul>
</div>

