{{if $lang eq "en"}}
<h5 class="subhead">Images of this menu item</h5>
{{else}}
<h5 class="subhead">Картинки для данного элемента меню</h5>
{{/if}}

<div class="row">
<div class="col-md-12">
{{if $lang eq "en"}}
<p><strong>Please note that this is not the pages editor!</strong>
The menu item images are supposed to be images for a visual menu. These are not page illustrations!</p>

{{else}}
<p><strong>Не путайте редактор меню с редактором страниц!</strong>
В картинки пункта меню загружаются такие вещи, как иконки для визуального меню.</p>
{{/if}}
</div>
</div>

<div class="row">
<div class="col-md-12">
{{include file="db:photos/blueimp/uploader"}}
</div>
</div>
