{{if $lang eq "en"}}
{{assign var="str_pages" value="Pages"}}
{{assign var="str_editor" value="Website Pages Editor"}}
{{assign var="str_uri_page" value="Page URI"}}
{{assign var="str_name" value="Title"}}
{{assign var="str_actions" value="Actions"}}
{{assign var="str_exim" value="Export/Import Pages"}}
{{assign var="str_ex_sel" value="Export Selected"}}
{{assign var="str_json_code" value="JSON-code"}}
{{assign var="str_copy" value="Copy the JSON code from this field into such field on another website in order to import pages."}}
{{assign var="str_import" value="Import JSON"}}
{{assign var="str_view" value="Preview"}}
{{else}}
{{assign var="str_pages" value="Страницы"}}
{{assign var="str_editor" value="Редактор страниц сайта"}}
{{assign var="str_uri_page" value="URI страницы"}}
{{assign var="str_name" value="Название"}}
{{assign var="str_actions" value="Действия"}}
{{assign var="str_exim" value="Экспорт/импорт страниц"}}
{{assign var="str_ex_sel" value="Экспортировать выделенные"}}
{{assign var="str_json_code" value="JSON-код"}}
{{assign var="str_copy" value="Копируйте JSON-код из этого поля в такое же поле на другом сайте для импортирования информации"}}
{{assign var="str_import" value="Импортировать JSON"}}
{{assign var="str_view" value="Смотреть"}}
{{/if}}


{{if $Zoom}}
<div class="page-header">

{{include file="db:ited/iactions" mode="inner"}}

<h1><small>{{$str_pages}}:</small>
<small>{{$row.id}}:</small> {{$row.uri}}</h1>
</div>

<div class="pull-right">
<a class="btn btn-xs btn-info" href="{{$row.uri}}">{{$str_view}}</a>
</div>

{{include file="db:ited/subted"}}


<div id="id_context" style="display:none">{{$row.context_id}}</div>
{{else}}
<div class="page-header">
<h1>{{$str_editor}}</h1>
</div>



{{if $Parent}}
<h2>{{$Parent}}</h2>
{{/if}}
{{include file="db:ited/iactions" mode="top"}}
<div class="pull-right">{{include file="db:page/paginator"}}</div>

<form action="." method="post" id="export_form" target="emps_sink">
<input type="hidden" name="post_export" value="1" />

<table class="table table-striped table-condensed">
<tr valign="center">
<th width="70">Id</th>
<th width="220">{{$str_uri_page}}</th>
<th width="560">{{$str_name}}</th>
<th width="140">{{$str_actions}}</th>
</tr>
{{section name=i loop=$lst}}
<tr>
<td><input type="checkbox" name="sel[{{$lst[i].id}}]" /> {{$lst[i].id}}{{if $lst[i].user_id != $myuser}}-{{$lst[i].user_id}}{{/if}}</td>
<td><a href="{{$lst[i].nlink}}">{{$lst[i].uri}}</a>
</td>
<td>{{$lst[i].title}}&nbsp;</td>
<td>
{{include file="db:ited/rowactions" row_html=true}}
</td>
</tr>
{{/section}}
</table>
<div class="pull-right">{{include file="db:page/paginator"}}</div>
</form>

{{include file="db:ited/iactions" mode="bottom"}}


<h4>{{$str_exim}}</h4>

<p><button type="button" id="export_button" class="btn btn-info">{{$str_ex_sel}}</button></p>
<form action="." method="post" class="form">
<input type="hidden" name="post_import" value="1" />
<div class="form-group">
<label>{{$str_json_code}}:</label>
<textarea rows="5" class="form-control" id="data_ta" name="json"></textarea>
<div class="help-block">{{$str_copy}}</div>
</div>

<p class="text-right"><button type="submit" class="btn btn-primary">{{$str_import}}</button></p>

</form>

<script>
emps_scripts.push(function(){
$("#export_button").click(function(){
	$("#export_form").submit();
});
});
</script>
{{/if}}
