<h1>Настройка соединения с API для выгрузки оригинальных текстов</h1>
<h2>Яндекс.Вебмастер</h2>
{{if $stored_yandex_token}}
<p>Сохранённый токен Яндекса:</p>
    {{include file="db:_admin/uniqtxt,token" token=$stored_yandex_token}}
{{else}}
    <p>Сохранённый токен Яндекса отсутствует.</p>
    {{if $yandex_token}}
        <p>Но есть свежий токен Яндекса, который можно сохранить:</p>
        {{include file="db:_admin/uniqtxt,token" token=$yandex_token}}
        <p><a href="./?capture_token=1" class="btn btn-primary">Сохранить этот токен для доступа</a></p>
    {{else}}
        <p>Также отсутствует свежий токен. Попробуйте войти на сайт через OAuth Яндекса.</p>
    {{/if}}
{{/if}}
